.orderSummary p {
  font-size: 18px;
  padding-bottom: 5px;
}
.orderSummary h2 {
  padding-bottom: 10px;
}
.cart-btn button {
  margin: 10px 0px;
  border: none;
  background-color: black;
  color: white;
  display: block;
  padding: 10px 30px;
  border-radius: 4px !important;
}
.orderSummary {
  position: sticky;
  top: 20px;
}
