img {
  max-width: 100%;
}
.product-container {
  border: 2px solid black;
  height: 440px;
  border-radius: 4px;
  padding: 5px;
  position: relative;
}

.product-container .product-btn {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

button {
  margin: 5px;
}
.product-container .button {
  border: none;
  background-color: black;
  color: white;
  display: block;
  padding: 10px 30px;
  border-radius: 0px !important;
}

@media (max-width: 768px) {
  img {
    width: 30%;
  }
  .product-container .product-btn {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}
